In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('agricult-data.csv')

In [3]:
df.head()

   Unnamed: 0                state commodity  modal_price    rainfall
0          11  Andaman and Nicobar   coconut         5600  175.686646
1          23                Assam      rice         2400  236.181114
2          24                Assam      rice         2800  236.181114
3          43                Assam      jute         2800  174.792798
4          46                Assam      rice         4500  236.181114

In [4]:
df.commodity.unique()

array(['coconut', 'rice', 'jute', 'maize', 'cotton', 'banana', 'grapes',
       'apple', 'orange', 'pomegranate', 'papaya', 'mango'], dtype=object)

In [5]:
crop_season = {
'apple': 'K',
'banana': 'K',
'coconut': 'K',
'cotton': 'K',
'grapes': 'R',
'jute': 'Z',
'maize': 'K',
'mango': 'R',
'orange': 'K',
'papaya': 'K',
'pomegranate': 'Z',
'rice': 'K',
}
print(crop_season)

{'apple': 'K', 'banana': 'K', 'coconut': 'K', 'cotton': 'K', 'grapes': 'R', 'jute': 'Z', 'maize': 'K', 'mango': 'R', 'orange': 'K', 'papaya': 'K', 'pomegranate': 'Z', 'rice': 'K'}

In [6]:
df['season'] = df['commodity']
df["season"].replace(crop_season, inplace=True)

In [7]:
df.head()

   Unnamed: 0                state commodity  modal_price    rainfall season
0          11  Andaman and Nicobar   coconut         5600  175.686646      K
1          23                Assam      rice         2400  236.181114      K
2          24                Assam      rice         2800  236.181114      K
3          43                Assam      jute         2800  174.792798      Z
4          46                Assam      rice         4500  236.181114      K

In [8]:
df.state.unique()

array(['Andaman and Nicobar', 'Assam', 'Gujarat', 'Haryana',
       'Himachal Pradesh', 'Karnataka', 'Kerala', 'Madhya Pradesh',
       'Maharashtra', 'Manipur', 'Meghalaya', 'Odisha', 'Punjab',
       'Rajasthan', 'Tamil Nadu', 'Telangana', 'Tripura', 'Uttar Pradesh',
       'Uttrakhand', 'West Bengal'], dtype=object)

In [9]:
df.season.unique()

array(['K', 'Z', 'R'], dtype=object)

In [11]:
state_dict = {}
count = 0
for ele in list(df.state.unique()):
    state_dict[ele] = count
    count+=1
state_dict

{'Andaman and Nicobar': 0,
 'Assam': 1,
 'Gujarat': 2,
 'Haryana': 3,
 'Himachal Pradesh': 4,
 'Karnataka': 5,
 'Kerala': 6,
 'Madhya Pradesh': 7,
 'Maharashtra': 8,
 'Manipur': 9,
 'Meghalaya': 10,
 'Odisha': 11,
 'Punjab': 12,
 'Rajasthan': 13,
 'Tamil Nadu': 14,
 'Telangana': 15,
 'Tripura': 16,
 'Uttar Pradesh': 17,
 'Uttrakhand': 18,
 'West Bengal': 19}

In [12]:
season_dict = {}
count = 0
for ele in list(df.season.unique()):
    season_dict[ele] = count
    count+=1
season_dict

{'K': 0, 'Z': 1, 'R': 2}

In [13]:
crop_dict = {}
count = 0
for ele in list(df.commodity.unique()):
    crop_dict[ele] = count
    count+=1
crop_dict

{'coconut': 0,
 'rice': 1,
 'jute': 2,
 'maize': 3,
 'cotton': 4,
 'banana': 5,
 'grapes': 6,
 'apple': 7,
 'orange': 8,
 'pomegranate': 9,
 'papaya': 10,
 'mango': 11}

In [69]:
result_dict = dict([(value, key) for key, value in crop_dict.items()])
result_dict

{0: 'coconut',
 1: 'rice',
 2: 'jute',
 3: 'maize',
 4: 'cotton',
 5: 'banana',
 6: 'grapes',
 7: 'apple',
 8: 'orange',
 9: 'pomegranate',
 10: 'papaya',
 11: 'mango'}

In [16]:
df["state"].replace(state_dict, inplace=True)
df["season"].replace(season_dict, inplace=True)
df["commodity"].replace(crop_dict, inplace=True)

In [18]:
df.head()

   Unnamed: 0  state  commodity  modal_price    rainfall  season
0          11      0          0         5600  175.686646       0
1          23      1          1         2400  236.181114       0
2          24      1          1         2800  236.181114       0
3          43      1          2         2800  174.792798       1
4          46      1          1         4500  236.181114       0

In [64]:
df.describe()

,Unnamed: 0,state,commodity,modal_price,rainfall,season
count,314.000000,314.000000,314.000000,314.000000,314.000000,314.000000
mean,1158.786624,11.493631,4.474522,3326.175159,133.919452,0.219745
std,648.165681,5.695828,2.964269,1798.630513,54.375183,0.559089
min,11.000000,0.000000,0.000000,475.000000,69.611829,0.000000
25%,657.250000,6.000000,1.000000,1955.000000,104.626980,0.000000
50%,1241.000000,13.000000,5.000000,2967.500000,110.474969,0.000000
75%,1679.500000,17.000000,7.000000,4300.000000,175.686646,0.000000
max,2236.000000,19.000000,11.000000,11000.000000,236.181114,2.000000

In [19]:
X = df[['state','season','modal_price']]
Y = df['commodity']

In [20]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size = 0.25, random_state = 4625)

In [45]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [67]:
v = (3000 -3326.175159)/1798.630513	
v

-0.18134639473893985

In [55]:
X_train

array([[-6.16549470e-01,  3.04510562e+00, -5.61194602e-01],
       [ 6.08358596e-01, -4.11898345e-01,  1.02062991e+00],
       [-6.16549470e-01, -4.11898345e-01, -1.51297037e+00],
       [ 4.33371729e-01, -4.11898345e-01, -7.76215494e-01],
       [ 1.30830606e+00,  1.31660364e+00,  2.69933534e-01],
       [-1.31649694e+00, -4.11898345e-01,  2.52202268e+00],
       [ 9.58332329e-01, -4.11898345e-01, -4.05693209e-01],
       [-7.91536337e-01, -4.11898345e-01, -1.12421689e+00],
       [-1.31649694e+00, -4.11898345e-01, -5.61194602e-01],
       [ 4.33371729e-01, -4.11898345e-01,  1.24851989e+00],
       [-6.16549470e-01, -4.11898345e-01, -1.04378513e+00],
       [-9.66523203e-01, -4.11898345e-01, -5.17934868e-02],
       [ 9.58332329e-01, -4.11898345e-01,  1.36916752e+00],
       [-6.16549470e-01, -4.11898345e-01,  2.52202268e+00],
       [ 9.58332329e-01, -4.11898345e-01, -8.02489868e-01],
       [-6.16549470e-01, -4.11898345e-01,  3.59444608e+00],
       [ 8.33979960e-02, -4.11898345e-01, -1.28508040e+00],
       [ 9.58332329e-01, -4.11898345e-01,  1.34235693e+00],
       [-1.84145754e+00, -4.11898345e-01, -2.66278167e-01],
       [-1.49148380e+00,  3.04510562e+00,  1.09070023e-01],
       [-1.49148380e+00, -4.11898345e-01, -6.95247527e-01],
       [ 4.33371729e-01, -4.11898345e-01, -5.82643070e-01],
       [ 1.30830606e+00,  1.31660364e+00,  5.38039384e-01],
       [ 9.58332329e-01, -4.11898345e-01, -5.61194602e-01],
       [-7.91536337e-01, -4.11898345e-01, -1.33870157e+00],
       [ 9.58332329e-01, -4.11898345e-01, -5.34384017e-01],
       [-1.66647067e+00, -4.11898345e-01,  1.12787225e+00],
       [-1.84145754e+00, -4.11898345e-01, -4.80762847e-01],
       [-1.49148380e+00, -4.11898345e-01, -6.95247527e-01],
       [-1.49148380e+00, -4.11898345e-01, -1.59035827e-01],
       [-4.41562604e-01, -4.11898345e-01,  3.23554704e-01],
       [ 4.33371729e-01, -4.11898345e-01, -7.86040718e-02],
       [-1.49148380e+00,  3.04510562e+00, -1.59035827e-01],
       [-1.31649694e+00,  3.04510562e+00,  2.25391683e+00],
       [-9.15888706e-02, -4.11898345e-01,  2.52202268e+00],
       [ 4.33371729e-01, -4.11898345e-01, -3.09175103e-01],
       [ 9.58332329e-01, -4.11898345e-01,  1.58365220e+00],
       [ 8.33979960e-02,  3.04510562e+00,  6.45281724e-01],
       [-1.31649694e+00, -4.11898345e-01, -4.27141677e-01],
       [ 9.58332329e-01,  1.31660364e+00,  5.38039384e-01],
       [ 9.58332329e-01, -4.11898345e-01, -1.07059572e+00],
       [-1.31649694e+00, -4.11898345e-01, -4.80762847e-01],
       [ 1.30830606e+00, -4.11898345e-01,  1.09070023e-01],
       [ 1.30830606e+00, -4.11898345e-01, -4.80762847e-01],
       [ 9.58332329e-01, -4.11898345e-01, -9.36542793e-01],
       [-2.66575737e-01, -4.11898345e-01,  3.77175874e-01],
       [-7.91536337e-01, -4.11898345e-01, -1.17783806e+00],
       [ 9.58332329e-01, -4.11898345e-01, -8.29300453e-01],
       [-9.66523203e-01, -4.11898345e-01,  3.23554704e-01],
       [ 1.13331920e+00,  3.04510562e+00, -8.02489868e-01],
       [-1.49148380e+00,  3.04510562e+00,  3.77175874e-01],
       [ 9.58332329e-01, -4.11898345e-01,  1.35308117e+00],
       [ 1.30830606e+00,  1.31660364e+00,  4.30797044e-01],
       [ 1.30830606e+00, -4.11898345e-01, -3.46709922e-01],
       [ 4.33371729e-01, -4.11898345e-01, -2.28743348e-01],
       [ 1.30830606e+00, -4.11898345e-01, -5.34384017e-01],
       [-9.66523203e-01, -4.11898345e-01, -6.41626357e-01],
       [ 9.58332329e-01, -4.11898345e-01, -3.35985688e-01],
       [-1.66647067e+00, -4.11898345e-01, -7.48868698e-01],
       [-9.66523203e-01,  3.04510562e+00,  1.09070023e-01],
       [ 4.33371729e-01, -4.11898345e-01,  8.57621557e-01],
       [ 1.13331920e+00, -4.11898345e-01, -1.36551215e+00],
       [ 1.30830606e+00,  1.31660364e+00,  5.38039384e-01],
       [ 8.33979960e-02, -4.11898345e-01, -9.63353378e-01],
       [ 9.58332329e-01, -4.11898345e-01, -8.10533043e-01],
       [ 1.30830606e+00, -4.11898345e-01,  2.69933534e-01],
       [-9.66523203e-01, -4.11898345e-01, -3.19899337e-01],
       [ 9.58332329e-01, -4.11898345e-01, -1.25826981e+00],
       [ 4.33371729e-01, -4.11898345e-01, -4.80762847e-01],
       [ 4.33371729e-01, -4.11898345e-01, -9.09732208e-01],
       [ 4.33371729e-01, -4.11898345e-01,  5.11228799e-01],
       [-1.84145754e+00,  1.31660364e+00,  3.23554704e-01],
       [ 9.58332329e-01, -4.11898345e-01,  3.23554704e-01],
       [ 4.33371729e-01, -4.11898345e-01, -7.75679283e-01],
       [-1.49148380e+00, -4.11898345e-01, -1.59035827e-01],
       [ 9.58332329e-01, -4.11898345e-01, -8.29300453e-01],
       [-1.31649694e+00, -4.11898345e-01,  9.13387574e-01],
       [-6.16549470e-01, -4.11898345e-01, -2.12656997e-01],
       [ 8.33979960e-02,  3.04510562e+00,  1.98581098e+00],
       [ 9.58332329e-01, -4.11898345e-01,  8.59766404e-01],
       [ 9.58332329e-01, -4.11898345e-01, -1.14030324e+00],
       [ 9.58332329e-01, -4.11898345e-01, -9.63353378e-01],
       [ 8.33979960e-02, -4.11898345e-01,  1.18149342e+00],
       [-1.31649694e+00,  1.31660364e+00,  2.25391683e+00],
       [ 8.33979960e-02,  3.04510562e+00,  9.13387574e-01],
       [-9.66523203e-01, -4.11898345e-01, -8.02489868e-01],
       [-4.41562604e-01, -4.11898345e-01,  2.16312364e-01],
       [ 1.30830606e+00, -4.11898345e-01, -3.46709922e-01],
       [-9.66523203e-01, -4.11898345e-01,  2.69933534e-01],
       [-4.41562604e-01, -4.11898345e-01, -1.59035827e-01],
       [-9.66523203e-01, -4.11898345e-01, -1.59035827e-01],
       [-9.66523203e-01, -4.11898345e-01,  4.13065778e+00],
       [-7.91536337e-01, -4.11898345e-01, -5.88005187e-01],
       [ 1.30830606e+00, -4.11898345e-01, -5.34384017e-01],
       [-9.66523203e-01, -4.11898345e-01,  6.45281724e-01],
       [ 4.33371729e-01, -4.11898345e-01, -7.75679283e-01],
       [-1.49148380e+00, -4.11898345e-01,  2.52202268e+00],
       [-7.91536337e-01, -4.11898345e-01, -1.28508040e+00],
       [ 4.33371729e-01, -4.11898345e-01, -6.20177889e-01],
       [ 9.58332329e-01, -4.11898345e-01,  1.10106167e+00],
       [-7.91536337e-01, -4.11898345e-01, -6.95247527e-01],
       [ 1.13331920e+00, -4.11898345e-01, -1.32225242e-01],
       [ 4.33371729e-01, -4.11898345e-01,  1.28873576e+00],
       [-1.66647067e+00, -4.11898345e-01,  1.12787225e+00],
       [ 1.30830606e+00,  1.31660364e+00,  2.69933534e-01],
       [-9.66523203e-01, -4.11898345e-01, -6.95247527e-01],
       [-9.15888706e-02, -4.11898345e-01, -1.59035827e-01],
       [ 4.33371729e-01, -4.11898345e-01, -2.66278167e-01],
       [-9.66523203e-01, -4.11898345e-01, -1.17783806e+00],
       [ 2.58384863e-01,  3.04510562e+00,  5.54488533e-02],
       [ 9.58332329e-01, -4.11898345e-01, -1.07059572e+00],
       [ 9.58332329e-01,  1.31660364e+00,  4.52245512e-01],
       [-1.84145754e+00, -4.11898345e-01, -5.17934868e-02],
       [ 4.33371729e-01, -4.11898345e-01, -7.81041400e-01],
       [ 1.13331920e+00, -4.11898345e-01, -1.39232274e+00],
       [ 4.33371729e-01, -4.11898345e-01, -4.11055326e-01],
       [-9.15888706e-02, -4.11898345e-01, -1.01697455e+00],
       [ 9.58332329e-01, -4.11898345e-01, -3.19899337e-01],
       [-9.66523203e-01, -4.11898345e-01, -9.63353378e-01],
       [ 9.58332329e-01, -4.11898345e-01, -1.14298430e+00],
       [ 9.58332329e-01, -4.11898345e-01, -1.09204419e+00],
       [-1.49148380e+00,  1.31660364e+00,  6.45281724e-01],
       [-1.14151007e+00, -4.11898345e-01, -1.07059572e+00],
       [ 1.30830606e+00, -4.11898345e-01,  1.62691193e-01],
       [ 4.33371729e-01, -4.11898345e-01, -2.66278167e-01],
       [ 4.33371729e-01, -4.11898345e-01, -2.12656997e-01],
       [-9.66523203e-01, -4.11898345e-01,  2.69933534e-01],
       [ 1.30830606e+00,  1.31660364e+00,  6.45281724e-01],
       [ 2.58384863e-01, -4.11898345e-01, -1.01697455e+00],
       [ 2.58384863e-01, -4.11898345e-01, -7.48868698e-01],
       [-1.31649694e+00, -4.11898345e-01, -4.96849198e-01],
       [-9.15888706e-02, -4.11898345e-01, -5.88005187e-01],
       [-9.66523203e-01, -4.11898345e-01,  5.38039384e-01],
       [ 8.33979960e-02, -4.11898345e-01,  1.12251014e+00],
       [ 2.58384863e-01, -4.11898345e-01, -7.62273990e-01],
       [ 9.58332329e-01,  3.04510562e+00,  5.05866682e-01],
       [-9.66523203e-01, -4.11898345e-01,  1.82768329e-03],
       [ 4.33371729e-01, -4.11898345e-01, -6.79697388e-01],
       [-4.41562604e-01, -4.11898345e-01,  1.09070023e-01],
       [ 9.58332329e-01, -4.11898345e-01, -1.17783806e+00],
       [ 1.30830606e+00, -4.11898345e-01, -3.73520507e-01],
       [ 9.58332329e-01,  1.31660364e+00,  2.69933534e-01],
       [-1.66647067e+00, -4.11898345e-01,  1.12787225e+00],
       [-1.31649694e+00,  3.04510562e+00,  5.11228799e-01],
       [-9.66523203e-01, -4.11898345e-01,  3.23554704e-01],
       [ 9.58332329e-01, -4.11898345e-01, -1.28508040e+00],
       [ 1.30830606e+00, -4.11898345e-01, -1.59035827e-01],
       [ 9.58332329e-01, -4.11898345e-01, -6.95247527e-01],
       [-9.15888706e-02, -4.11898345e-01,  2.52202268e+00],
       [-9.66523203e-01, -4.11898345e-01, -8.56111038e-01],
       [-1.84145754e+00, -4.11898345e-01, -8.02489868e-01],
       [ 9.58332329e-01, -4.11898345e-01, -8.15895160e-01],
       [-4.41562604e-01, -4.11898345e-01,  1.09070023e-01],
       [ 8.33979960e-02, -4.11898345e-01,  1.18149342e+00],
       [ 8.33979960e-02, -4.11898345e-01, -1.12421689e+00],
       [-9.66523203e-01, -4.11898345e-01,  1.39597810e+00],
       [-9.66523203e-01, -4.11898345e-01, -1.32225242e-01],
       [ 9.58332329e-01, -4.11898345e-01, -1.28508040e+00],
       [ 1.30830606e+00, -4.11898345e-01, -5.17934868e-02],
       [-1.31649694e+00,  1.31660364e+00,  5.11228799e-01],
       [ 9.58332329e-01, -4.11898345e-01, -1.20464864e+00],
       [-4.41562604e-01, -4.11898345e-01,  1.09070023e-01],
       [-9.66523203e-01, -4.11898345e-01, -3.19899337e-01],
       [ 9.58332329e-01, -4.11898345e-01, -3.73520507e-01],
       [ 4.33371729e-01, -4.11898345e-01, -1.25826981e+00],
       [-6.16549470e-01, -4.11898345e-01,  1.08765638e+00],
       [-1.31649694e+00,  1.31660364e+00,  2.25391683e+00],
       [-1.84145754e+00,  1.31660364e+00, -2.66278167e-01],
       [-4.41562604e-01, -4.11898345e-01,  1.09070023e-01],
       [-9.66523203e-01, -4.11898345e-01,  5.54488533e-02],
       [-9.66523203e-01, -4.11898345e-01, -1.01697455e+00],
       [ 9.58332329e-01, -4.11898345e-01,  4.46883395e-01],
       [ 9.58332329e-01, -4.11898345e-01, -5.66556719e-01],
       [ 9.58332329e-01, -4.11898345e-01, -4.05693209e-01],
       [-9.15888706e-02, -4.11898345e-01, -9.63353378e-01],
       [-6.16549470e-01,  1.31660364e+00,  3.77175874e-01],
       [ 8.33979960e-02, -4.11898345e-01, -9.63353378e-01],
       [ 9.58332329e-01, -4.11898345e-01,  1.20830401e+00],
       [-1.31649694e+00, -4.11898345e-01, -2.49829017e-02],
       [ 8.33979960e-02,  1.31660364e+00,  1.71770513e+00],
       [-6.16549470e-01, -4.11898345e-01, -1.23145923e+00],
       [-9.15888706e-02, -4.11898345e-01, -1.04378513e+00],
       [ 9.58332329e-01, -4.11898345e-01,  1.20830401e+00],
       [ 9.58332329e-01, -4.11898345e-01,  8.59766404e-01],
       [ 9.58332329e-01, -4.11898345e-01,  1.70429983e+00],
       [ 1.30830606e+00, -4.11898345e-01, -2.39467582e-01],
       [ 9.58332329e-01, -4.11898345e-01, -4.27141677e-01],
       [-6.16549470e-01,  3.04510562e+00, -1.59035827e-01],
       [-9.66523203e-01, -4.11898345e-01,  8.06145234e-01],
       [-6.16549470e-01, -4.11898345e-01,  2.41478034e+00],
       [ 9.58332329e-01, -4.11898345e-01, -7.27420230e-01],
       [ 1.30830606e+00, -4.11898345e-01, -3.52072039e-01],
       [-1.84145754e+00, -4.11898345e-01, -2.66278167e-01],
       [-1.66647067e+00, -4.11898345e-01,  1.12787225e+00],
       [ 4.33371729e-01, -4.11898345e-01, -8.29300453e-01],
       [ 9.58332329e-01, -4.11898345e-01, -1.12421689e+00],
       [-9.66523203e-01, -4.11898345e-01, -5.61194602e-01],
       [ 1.30830606e+00,  1.31660364e+00,  6.98902894e-01],
       [-9.15888706e-02, -4.11898345e-01,  2.52202268e+00],
       [ 4.33371729e-01, -4.11898345e-01, -5.29021900e-01],
       [ 9.58332329e-01,  3.04510562e+00,  6.45281724e-01],
       [ 1.13331920e+00, -4.11898345e-01, -8.02489868e-01],
       [ 4.33371729e-01, -4.11898345e-01, -5.07573432e-01],
       [ 4.33371729e-01, -4.11898345e-01, -7.48868698e-01],
       [ 9.58332329e-01, -4.11898345e-01, -8.31981511e-01],
       [ 9.58332329e-01, -4.11898345e-01,  1.09070023e-01],
       [ 9.58332329e-01, -4.11898345e-01,  1.71770513e+00],
       [-9.66523203e-01, -4.11898345e-01,  1.09070023e-01],
       [ 8.33979960e-02, -4.11898345e-01,  1.18149342e+00],
       [ 4.33371729e-01, -4.11898345e-01, -4.27141677e-01],
       [-1.49148380e+00,  1.31660364e+00,  9.13387574e-01],
       [ 1.30830606e+00,  1.31660364e+00,  3.23554704e-01],
       [ 9.58332329e-01, -4.11898345e-01,  3.50365289e-01],
       [-4.41562604e-01, -4.11898345e-01,  2.69933534e-01],
       [-1.66647067e+00, -4.11898345e-01, -7.75679283e-01],
       [-9.66523203e-01, -4.11898345e-01,  1.62691193e-01],
       [ 9.58332329e-01, -4.11898345e-01, -1.17783806e+00],
       [ 9.58332329e-01, -4.11898345e-01, -9.47267027e-01],
       [-1.49148380e+00, -4.11898345e-01, -1.59035827e-01],
       [ 1.30830606e+00, -4.11898345e-01, -5.61194602e-01],
       [-6.16549470e-01, -4.11898345e-01,  1.07425108e+00],
       [-1.84145754e+00, -4.11898345e-01,  6.45281724e-01],
       [ 1.30830606e+00, -4.11898345e-01, -2.39467582e-01],
       [ 4.33371729e-01, -4.11898345e-01,  8.06145234e-01],
       [ 1.30830606e+00, -4.11898345e-01, -1.59035827e-01],
       [ 4.33371729e-01, -4.11898345e-01, -1.59035827e-01],
       [ 9.58332329e-01, -4.11898345e-01, -5.88005187e-01],
       [-1.49148380e+00,  3.04510562e+00,  3.77175874e-01],
       [-6.16549470e-01, -4.11898345e-01, -1.27971828e+00],
       [-6.16549470e-01,  3.04510562e+00, -1.59035827e-01],
       [ 9.58332329e-01, -4.11898345e-01, -5.23659783e-01],
       [-1.49148380e+00, -4.11898345e-01, -8.82921623e-01],
       [ 9.58332329e-01, -4.11898345e-01, -9.68715495e-01],
       [ 4.33371729e-01, -4.11898345e-01, -5.50470368e-01],
       [ 8.33979960e-02,  3.04510562e+00,  2.79012853e+00]])

In [46]:
from sklearn.tree import DecisionTreeClassifier
dt = DecisionTreeClassifier(max_depth=8)
dt.fit(X_train, y_train)

DecisionTreeClassifier(max_depth=8)

In [47]:
y_train_pred = dt.predict(X_train)
y_test_pred = dt.predict(X_test)

In [48]:
y_test

197    3
229    1
175    0
0      0
117    5
      ..
20     7
28     9
53     5
172    0
260    3
Name: commodity, Length: 79, dtype: int64

In [49]:
y_test_pred

array([ 0,  1,  5,  7,  5,  7,  5, 10,  4,  5,  1,  5,  5,  5,  4,  6,  5,
        4,  1,  5,  8,  5,  3,  8,  6,  7,  1,  5,  3,  5,  9,  5, 10,  2,
        5,  1,  5,  4,  1,  5,  4,  1,  1, 10,  6,  1,  0,  4,  4,  1,  1,
        6,  1,  5,  5,  5,  1,  1, 10,  0,  5,  7,  5,  5,  1,  5,  9,  7,
        1,  1,  5,  1,  0, 10,  7,  9,  5,  0,  3], dtype=int64)

In [50]:
from sklearn.metrics import confusion_matrix,accuracy_score
print(accuracy_score(y_test, y_test_pred))

0.6962025316455697

In [53]:
import pickle
pickle.dump(dt, open('model.pkl', 'wb'))

In [54]:
loaded_model = pickle.load(open("model.pkl", 'rb'))
result = loaded_model.score(X_test, y_test)
print(result)

0.6962025316455697

In [58]:
loaded_model.predict([[-6.16549470e-01,  3.04510562e+00, -5.61194602e-01]])

array([6], dtype=int64)